<p> 
	<%= link_to @post.title, @post.url %> 
</p>

<p>
	<h3> <%= @post.comments.count %> Comments: </h3>
	<ul>
		<% @post.comments.each do |comment| %>
			<li> 
				<%= comment.content %>
			</li>
		<% end %>
	</ul>
</p>

<%= form_for [@post, @comment] do |f| %> <!-- nest comment under post-->
<%= f.label :content %>
<%= f.text_area :content, rows:5 %> <!-- rows:5 limits the size of box to 5 rows-->
</br>
<%= f.submit "Add a comment" %>

<% end %>